<h1><%= @bookmark.title %></h1>

  <%= @bookmark.url %>
  <%= render partial: 'likes/like', locals: { bookmark: @bookmark } %>
  <br>

  <%= link_to 'Edit', edit_topic_bookmark_path(@topic, @bookmark), class: 'btn btn-info' %> |
  <%= link_to 'Back', topic_bookmark_path %>